 body{width:50%;margin-left:20%;
  	  font-family:Times, serif;
  	  font-size: 26px;
  	}
  	h1{
  		margin-bottom:50px;
  	}
  body p:nth-child(3){
  	margin-top:50px;
}
  	blockquote{
  		/*font-style: italic;*/
  		font-size:23px;
  	}

body > hr:first-of-type{
	margin-top:100px;
	margin-bottom:50px;
}
body > hr:nth-of-type(2){
	margin-top:50px;
}
/*hr{
	margin-top:50px;
	margin-bottom:50px;
}*/
a, li::marker{
	color:teal;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  		font-family:sans-serif;
  		font-size:0.6em;
  	}
	.footnotes{
		font-size:0.8em;
	}

@media screen and (max-width: 1000px) {
	body{width:80%;margin-left:8%;}
}